<div class="flex gap-1 flex-nowrap overflow-x-scroll text-xs mb-1">
  <app-category-filter-chip (selected)="onSelectedCategory(null)"
                            [active]="saleService.selectedCategory$()  === null"
                            class="first:ml-3 last:mr-3"/>
  @for (categorie of categories; track $index) {
    <app-category-filter-chip [category]="categorie"
                              (selected)="onSelectedCategory($event)"
                              [active]="saleService.selectedCategory$()  === categorie"
                              class="first:ml-3 last:mr-3"/>
  }
</div>
