<article class=" bg-neutral-800 group  w-50 overflow-hidden border border-neutral-800 relative">
  <div class="transition-all duration-400 ease-in-out bg-neutral-50 hover:bg-neutral-200 hover:rounded-2xl">
  <!-- Item thumbnail -->
  <div class="pt-10 p-5 relative">
    <img src="/img/moog-mavis_1_SYN0008306-000.png" alt="Moog Mavis"
         class="transition-all ease-in-out duration-400 w-full shadow-2xl shadow-slate-600 group-hover:shadow-slate-800"/>

    <div class="absolute top-0 start-0 size-full p-2">
      <div class="flex justify-end w-full">
        <app-like/>
      </div>
    </div>
  </div>

  <!-- Item info -->
  <div class="p-2">
    <p class="text-sm/3 text-neutral-800/60 font-medium">
      <small>
        #{{ data.item.category.label }}
      </small>
    </p>
    <!-- Item title -->
    <h2 class="font-medium uppercase text-neutral-800 text-sm/4 truncate my-1">
      {{ data.item.itemName }}
    </h2>

    <!-- Item seller -->
    <a [routerLink]="['/user', data.seller.userId]">
      <app-user-layout [user]="data.seller"/>
    </a>

    <!-- Item bid + link -->
    <div class="transition-all duration-400 ease-in-out flex items-center w-fit mt-3 gap-1 bg-orange-500/40 group-hover:bg-orange-500/30 group-hover:rounded-2xl px-2 pt-1.5 pb-0.5 text-sm relative">
      <app-money [value]="data.currentBid > 0 ? data.currentBid : data.startingPrice"/>
      <span class="pb-0.5">//</span>
      <span>+ Details</span>
      <ng-icon [name]="'remixArrowRightUpLine'" [size]="'1.1em'" class="mb-1" />
    </div>
  </div>
  </div>
</article>
