<header class="border-y rounded-full bg-neutral-50">
  <div class="relative overflow-hidden text-sm font-medium  p-0.5 ">
    <div class="flex items-center gap-1 *:rounded-full *:pt-2.5 *:pb-1.5">
      <div class="bg-neutral-800 text-neutral-50 px-5">All</div>
      <div class="text-neutral-800 px-4">Categorie</div>
      <div class="text-neutral-800 px-4">3d</div>
      <div class="text-neutral-800 px-4">Painting</div>
      <div class="text-neutral-800 px-4">Drawing</div>
      <div class="text-neutral-800 px-4">All</div>
    </div>
    <div class="absolute rounded-full px-20 right-0 top-0 h-full bg-linear-to-r from-transparent to-neutral-50 to-90%"></div>
  </div>
</header>
